<mat-card  [style.border]="'1px solid #ddd'" >
<div>
  <h3>Why Angular is nice</h3>
        <p>Structured framework</p>
        <p>Easy to get started</p>   
        <p>Large ecosystem including Kendo UI support</p>
        <p>Dependency injection</p>
        <p>Code organization</p>
</div>


<div style="margin-top:20px">
    <h3>Unlikable factors about Angular</h3>
          <p>Angular-made HTML is not a valid HTML anymore</p>
          <p>Takes time to re-compile</p>   
          <p>Huge number of files and size (Latest versions of Angular introduced concepts like Tree shaking and Ahead-of-time compilation to make it smaller)</p>
  </div>
</mat-card>