/* Structure */
table {
    width: 100%;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  .card-deck-container {
    width: 100%;
    max-width: 1200px;
    position: relative;
    border-radius: 2px;
    padding: 10px 10px 30px;
    margin: 10px 10px 10px 10px;
    background-color: #f5f5f5;
  }
  
  .card-item {
    padding: 3px 3px 3px 3px;
  }

  .card-picture {
    width: 23%;
    margin-bottom: 2%;
  }

  .mat-table-contact-image {
    width: 35px;
    display: inline-block;
    max-width: 100%;
    height: auto;
    padding: 4px;
    line-height: 1.42857143;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out
  }

  .mat-card-contact-image {
    width: 100px;
    height: 50px;
    display: inline-block;
    max-width: 100%;
    height: auto;
    padding: 4px;
    line-height: 1.42857143;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out
  }


  /* mat-row:nth-child(even){
    background-color:#f9f9f9;
    }

    .tblContacts:nth-child(even) { background-color: #f9f9f9; } */

    mat-header-cell {      
      font-weight: bold!important;
      
    }


    