
<mat-form-field style="margin-top:20px">
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
  </mat-form-field>


<mat-table #table [dataSource]="dataSource" matSort class="mat-elevation-z8">

    <ng-container matColumnDef="firstName">
      <mat-header-cell *matHeaderCellDef  mat-sort-header> First Name </mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.firstName}}  </mat-cell>
    </ng-container>

    <ng-container matColumnDef="lastName">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Last Name </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.lastName}}  </mat-cell>
      </ng-container>

    <ng-container matColumnDef="email">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Email </mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.email}}  </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>

   <!-- Material Datatable Pagination -->  
   <mat-paginator #paginator  
   [length]="dataSource.data.length"  
   [pageIndex]="0"  
   [pageSize]="50"  
   [pageSizeOptions]="[25, 50, 100, 250]">  
 </mat-paginator>  